*.obj
*.o
*.exe
*.mod
*.bak
*.dat
*.a     

RomanNum
test/test*
!test/test*.f90

doc/*
!doc/Makefile.am
.vscode/
builddir/

aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
taskrev-ford.md
perf.data
autoscan.log
configure.scan
test-driver

src/Makefile
doc/Makefile
test/Makefile
Makefile

src/Makefile.in
doc/Makefile.in
test/Makefile.in
Makefile.in

src/.deps/
src/.dirstamp
